:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f3f5; /* 类似 iTab 的浅灰背景 */
  overflow-x: hidden;
}

#app {
  width: 100%;
  height: 100%;
}